extends layout

block content
	.parallax-container
		.container
			.row.center-align
				h1 Welcome 
		.parallax
			img(src="images/code.jpg")
	.section
		.row.container
			h1 testing
	.parallax-container
		.container
			.row.center-align
				h1 Welcome 
		.parallax
			img(src="images/secondcode.jpg")
			