extends layout

block content
	.parallax-container.one
		.container
			.row.center-align
				h1 Hello World!
				h3.message #{message} 
		.parallax
			img(src="images/code.jpg")
	.section#about
		.row.container
			.col.s8
				h3 A Little About Me
				p My name is Jason Li and I am a Full Stack Software Engineer. I graduated with a finance degree at Georgia State University. Upon graduation I found myself entering a payroll company where I served as a consultant. After using MySQL, I got super interested in programming and how things worked behind the scenes. I did my research and used my online resources, but later decided that it wasn't enough and want to pursue a master's degree. I'm currently enrolled at Kennesaw State University for their Master's in Software Engineering. 
			.col.s4
				img(src="images/profileImage.JPG")
	.parallax-container.two
		.container
			.row.center-align
				h1 Projects
		.parallax
			img(src="images/code2.jpg")
	.section
		.row.container#skills
			.col.s6
				h4 What I know
				.row.center-align
					.col.s3
						img(src="images/nodejs.png" width="100%")
					.col.s3
						img(src="images/express.png" width="100%")
					.col.s3
						img(src="images/react.png" width="100%")
				.row.center-align
					.col.s3
						img(src="images/mysql.png" width="100%")
					.col.s3
						img(src="images/sass.png" width="100%")
					.col.s3
						img(src="images/mysql.png" width="100%")
			.col.s6
				h4 What I'm Learning
				.row.center-align
					.col.s3
						img(src="images/java.png" width="100%")
					.col.s3
						img(src="images/swift.png" width="100%")
					.col.s3
						img(src="images/golang.png" width="100%")
				.row.center-align
					.col.s3
						img(src="images/spring.png" width="100%")
			

			