extends layout

block content
	.parallax-container.one
		.container
			.row.center-align
				h1 Hello World! 
		.parallax
			img(src="images/code.jpg")
	.section
		.row.container
			.col.s8
				h3 A Little About Me
				p My name is Jason Li and I am a Full Stack Software Engineer. I graduated with a finance degree at Georgia State University. Upon graduation I found myself entering a payroll company where I served as a consultant. After using MySQL, I got super interested in programming and how things worked behind the scenes. I did my research and used my online resources, but later decided that it wasn't enough and want to pursue a master's degree. I'm currently enrolled at Kennesaw State University for their Master's in Software Engineering. 
			.col.s4
				img(src="images/profileImage.JPG")
	.parallax-container.two
		.container
			.row.center-align
				h1 Welcome
		.parallax
			img(src="images/secondcode.jpg")
			