extends layout

block content
	.parallax-container.one
		.container
			.row.center-align
				h1 Hello World! 
		.parallax
			img(src="images/code.jpg")
	.section
		.row.container
			h1 testing
			h1 testing
			h1 testing
			h1 testing
			h1 testing
	.parallax-container.two
		.container
			.row.center-align
				h1 Welcome
		.parallax
			img(src="images/secondcode.jpg")
			