doctype html
html

	head
		title= title
		meta(charset="UTF-8")
		//-  jQUERY
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
		//- Materialize css
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css")
		//- Materialize js
		script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js")
		//- Google Font
		link(href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet")
		//- ISOTOPE
		script(src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js")
		//- font awesome
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
		//- own css
		link(rel='stylesheet', href='/stylesheets/style.css')
		//- own javascript
		script(src="javascripts/scripts.js")
	body
		include navbar
		block content
		include footer
